.react-tabs__tab-list {
  border-bottom: none;
  display: flex;
  justify-content: space-around;
}

.react-tabs__tab {
  padding: 30px;
  margin-right: 10px;
  color: #fff;
  width: 100px;
}

.react-tabs__tab:not(.react-tabs__tab--selected):hover {
  transform: translateY(-3px);
  transition: all 250ms ease-in-out;
}

.react-tabs__tab:not(.react-tabs__tab--selected) {
  background-color: transparent;
  border-radius: 20px;
  border: 5px solid #fff;

  transition: all 250ms ease-in-out;
}

.react-tabs__tab:focus {
  outline: none;
  box-shadow: none;
  border-color: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: none;
}

.react-tabs {
  width: 100%;
}

.react-tabs__tab.react-tabs__tab--selected {
  background-color: transparent;
  border-radius: 20px 20px 0px 0px;
  border: 5px solid #fff;
}

.react-tabs__tab-panel--selected {
  padding: 15px;
  opacity: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  animation: fade-and-slide-in 500ms ease-in-out;
}

.react-tabs__tab-panel.react-tabs__tab-panel--selected {
  margin-top: 40px;
  border: 3px solid rgba(255,255,255,0.1);
  padding: 30px;
  border-radius: 10px;
}

@keyframes fade-and-slide-in {
  0% {
    opacity: 0;
    transform: translateX(27%),
               translateY(-27%);
  }
  100% {
    opacity: 1;
    transform: translateX(0),
               translateY(0);
  }
}

@media only screen and (max-width: 768px) {
  .react-tabs__tab-panel.react-tabs__tab-panel--selected {
    width: 225%;
    transform: translateX(-28%);
    margin-bottom: 50px;
  }
}

@media only screen and (max-height: 768px) {
  .react-tabs__tab-panel.react-tabs__tab-panel--selected {
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    width: 450px;
  }
}

.ticker {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 60px;
}

.ticker__element {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 98%;
}

html {
  overflow: hidden;
}

.marquee-wrapper > div > div {
  height: 60px;
  margin-top: 15px;
}